body {
  background-image: url(../images/background.png);
  background-attachment: fixed;
  color: white;
}

.dino_image {
 height: 300px;
 width: 300px;
 border-radius: 10%;
 margin: auto;
 border: 10px solid darkcyan;
}

div#dino_grid {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
}

div.card {
  padding: 30px;
}

div.all_dinosaurs {
  padding-top: 50px;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
}

title {
 margin: 100px 300px;
 text-align: center;
 display: inline-block;
 transition: .5s;
 float: left;

}

.title span {
 width: 75px;
 height: 75px;
 justify-content: center;
 line-height: 80px;
 font-size: 30px;
 float: left;
 transition: .5s;
}

/* Odd and even are keywords that can be used to match child elements
whose index is odd  */
.title:hover span:nth-child(odd) {
 transform: skewY(-15deg);
 /* rgba - how opaque shadow is */
 box-shadow: 0 60px 20px rgba(10, 50, 70, .1);
}
.title:hover span:nth-child(even) {
 transform: skewY(15deg);
 /* rgba - how opaque shadow is */
 box-shadow: 0 60px 20px rgba(0, 0, 0, .1);
}

.title:hover {
 /* rotates cards on x axist to turn cards */
 transform: rotateX(35deg);
}

.title span#1 {
 color: blue;
}

#map {
  height: 500px;
  width:100%;
}
