body {
  background-image: url(../images/background_light.png);
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;

}

.dino_image {
  display: flex;
  height: 250px;
  width: 250px;
  border-radius: 10%;
  margin: auto;
  border: 10px solid darkcyan;
  flex-direction: row;
  justify-content: flex-end;
}

div#dino_grid {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
  justify-content: center;
  width: 5;
}

div.card {
  padding: 30px;
}

div.all_dinosaurs {
  padding-top: 50px;
  text-align: left;

}

h3 {
  display: flex;
  justify-content: center;
  /* font-family: 'Amatic SC', cursive; */
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}

title {
  margin: 100px 300px;
  text-align: center;
  display: inline-block;
  transition: .5s;
  float: left;

}

span {
  font-family: 'Luckiest Guy', cursive;
  background-color: blue;
  text-align: center;

}

.title span {
  width: 75px;
  height: 75px;
  justify-content: center;
  line-height: 80px;
  font-size: 30px;
  float: left;
  transition: .5s;
}

/* Odd and even are keywords that can be used to match child elements
whose index is odd  */
.title:hover span:nth-child(odd) {
  transform: skewY(-15deg);
  /* rgba - how opaque shadow is */
  box-shadow: 0 60px 20px rgba(10, 50, 70, .1);
}
.title:hover span:nth-child(even) {
  transform: skewY(15deg);
  /* rgba - how opaque shadow is */
  box-shadow: 0 60px 20px rgba(0, 0, 0, .1);
}

.title:hover {
  /* rotates cards on x axist to turn cards */
  transform: rotateX(35deg);
}

.title span#1 {

  color: blue;
}


#map {
  height: 500px;
  width:100%;
}

ul {
  margin-top: -20px;
  position: absolute;
  z-index: 100;
  background-color: darkcyan;
  width: 150px;
  padding: 0;
  text-align: center;
  list-style: none;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid white;
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
  color: white;
  height: 35px;
  width: 200px;
  font-size: 20px;
}

ul li {
  border-radius: 2x;
  width: 200px;
  height: 50px;
  background-color: darkcyan;
  line-height: 40px;
  display: none;
  text-align: center;
  /* font-family: 'Amatic SC', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Luckiest Guy', cursive; */
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;


}

ul li:hover {
  text-decoration: none;
  background-color: DEEPSKYBLUE;
}

ul:hover li {
  display: block;
}

.title-div {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

p {
  margin-left: 300px;
  /* font-family: 'Amatic SC', cursive; */
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Roboto', sans-serif;
}


.period-list {
  display: flex;
  justify-content: flex-end;


}

select#period-select {
  background: darkcyan;
  color: white;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px black;
  outline: none;
  font-family: 'Patrick Hand', cursive;
}

label {
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
}

.select-option {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

* {
  box-sizing: border-box;
}
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
  overflow-x: hidden;
}
/*Just removing default browser padding/margin*/
html,
body {
  padding: 0;
  margin: 0;
  color: #ebebeb;
}

div#container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  /* margin-top: -100px; */
  padding-top: 100px;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
div#left-container,
div#right-container {
  flex-grow: 1;
  overflow: auto;
  height: auto;
  padding: .5rem;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  z-index: 1;

}
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
div#left-container::-webkit-scrollbar,
div#right-container::-webkit-scrollbar {
  display: none;
}
/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
div#left-container {
  width: 12.5rem;

}


div#right-container {
  width: 12.5rem;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  text-align: center;
}

div#left-container:after {
  content:"";
  position: absolute;
  margin-top: 100px;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 10px solid black;
  transform: translate(-50%);
}

p#timelineP
{
  margin: 0;
  margin-top: 15px;
  padding: 0;
  text-align: center;
}

h3#timelineHeading
{
  margin: 0;
  margin-top: 100px;
}

#timeline-button {
  display: flex;

}

#main-nav {
  display: flex;
  align-items: baseline;
  /* flex-direction: row; */
  /* display: inline-flex; */
  justify-content: space-between;
  margin-top: -50px;
}

#timelineButton
{
  display: flex;
  justify-content: center;
  height: 35px;
  width: 200px;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  background-color: darkcyan;
  margin-left: 250px;
  border-radius: 5px;
  padding-top: 7px;
  color: white;
}
h4 {
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  font-weight: bold;
}

#firstAppeared {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}
